*{
    margin: 0;
    padding: 0;
}

.head{
    min-height: 200px;
    background-color: #9BC2F9;
    margin-top: 30px;
    
}

.head-top {
    min-height: 80px;
    background-color: #CCDFFD;
    margin: 10px 10px;
}

.head-bottom {
    min-height: 80px;
    background-color: #CCDFFD;
    margin: 10px 10px;
}

.hero {
    min-height: 200px;
    background-color: #9BC2F9;
    margin-top: 30px;
}

.hero-content {
    min-height: 80px;
    background-color: #CCDFFD;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.body {
    min-height: 600px;
    background-color: #9BC2F9;
    margin-top: 30px;
}

.body-top-content {
    min-height: 100px;
    background-color: #CCDFFD;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 20px;
}

.body-middle-content {
    min-height: 100px;
    background-color: #65A7E1;
    margin: 10px 10px;
}

.body-bottom-content {
    min-height: 250px;
    background-color: #CCDFFD;
    margin: 10px 10px;
}

.foot {
    max-height: 100px;
    background-color: #9BC2F9;
    margin-top: 30px;
}
